{% extends "base.html" %}
{% load i18n %}
{% load allauth %}

{% block head_title %}
  {% trans "Sign In" %}
{% endblock head_title %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6 col-sm-8">
        {% if process == "connect" %}
          <h1 class="h3 text-center">
            {% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}
          </h1>
          <p class="text-center">
            {% blocktrans with provider.name as provider %}You are about to connect a new third-party account from {{ provider }}.{% endblocktrans %}
          </p>
        {% else %}
          <h1 class="h3 text-center">
            {% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}
          </h1>
          <p class="text-center">
            {% blocktrans with provider.name as provider %}You are about to sign in using a third-party account from {{ provider }}.{% endblocktrans %}
          </p>
        {% endif %}

        <form class="d-flex justify-content-center mt-4" method="post" no_visible_fields=True>
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">{% trans "Continue" %}</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
