
<!-- Edit Experience Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit Experience</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form id="editForm" method="post" >
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="id_company" class="form-label">Company:*</label>
                <input type="text" name="company" class="form-control" id="id_company">
                {% for error in form.company.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="col-md-6 mb-3">
                <label for="id_title" class="form-label">Title:*</label>
                <input type="text" name="title" class="form-control" id="id_title">
                {% for error in form.title.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="id_location" class="form-label">Location:</label>
                <input type="text" name="location" class="form-control" id="id_location">
                {% for error in form.location.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="col-md-6 mb-3">
                <label for="id_description" class="form-label">Description:</label>
                <textarea name="description" class="form-control" id="id_description"></textarea>
                {% for error in form.description.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="id_from_date" class="form-label">From Date:*</label>
                <input type="date" name="from_date" class="form-control" id="id_from_date" >
                {% for error in form.from_date.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="col-md-6 mb-3">
                <label for="id_to_date" class="form-label">To Date:</label>
                <input type="date" name="to_date" class="form-control" id="id_to_date" >
                {% for error in form.to_date.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-md-6 mb-3">
                <label for="id_current" class="form-label">Current:</label>
                <input type="checkbox" name="current" class="form-check-input" id="id_current" {% if form.current.value %}checked{% endif %}>
            </div>
        </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" form="editForm" class="btn btn-primary">Save changes</button>
    </div>
    </div>
</div>
</div>

<script>
    document.querySelectorAll('.editButton').forEach(function(button) {
        button.addEventListener('click', function() {
            var experienceId = this.dataset.experienceId;
            var url = '/experiences/update/' + experienceId + '/'; // URL to fetch experience details
            getExperienceDetails(url);
        });
    });
    
    function getExperienceDetails(url) {
        // Make an AJAX request to fetch experience details based on the URL
        $.ajax({
            url: url,
            method: 'GET',
            success: function(experience) {
                // Populate the form fields with the retrieved experience details
                populateEditForm(experience);
            },
            error: function(xhr, errmsg, err) {
                console.error('Failed to fetch experience details:', errmsg);
                // Handle error if needed
            }
        });
    }
    
    function populateEditForm(experience) {
        // Populate the form fields with the retrieved experience details
        document.getElementById("id_company").value = profiler.experience.company;
        document.getElementById("id_title").value = experience.title;
        document.getElementById("id_location").value = experience.location;
        document.getElementById("id_description").value = experience.description;
        document.getElementById("id_from_date").value = experience.from_date;
        document.getElementById("id_to_date").value = experience.to_date;
        document.getElementById("id_current").checked = experience.current;
        
        $('#editModal').modal('show'); // Show the modal
    }
</script>