<!-- Edit Experience Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit Experience</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form id="editForm" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="id_company" class="form-label">Company:*</label>
                <input type="text" name="company" class="form-control" id="id_company">
                {% for error in form.company.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="col-md-6 mb-3">
                <label for="id_title" class="form-label">Title:*</label>
                <input type="text" name="title" class="form-control" id="id_title">
                {% for error in form.title.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="id_location" class="form-label">Location:</label>
                <input type="text" name="location" class="form-control" id="id_location">
                {% for error in form.location.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="col-md-6 mb-3">
                <label for="id_description" class="form-label">Description:</label>
                <textarea name="description" class="form-control" id="id_description"></textarea>
                {% for error in form.description.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="id_from_date" class="form-label">From Date:*</label>
                <input type="date" name="from_date" class="form-control" id="id_from_date">
                {% for error in form.from_date.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="col-md-6 mb-3">
                <label for="id_to_date" class="form-label">To Date:</label>
                <input type="date" name="to_date" class="form-control" id="id_to_date">
                {% for error in form.to_date.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-md-6 mb-3">
                <label for="id_current" class="form-label">Current:</label>
                <input type="checkbox" form="editForm" name="current" class="form-check-input" id="id_current" {% if form.current.value %}checked{% endif %}>
            </div>
        </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="saveChangesButton">Save changes</button>
    </div>
    </div>
</div>
</div>


{% block extrascripts %}
<script>
$('.editButton').click(function(event) {
    event.preventDefault();
    const experienceId = $(this).data('experience-id');
    
    // Construct the URL for editing the experience
    const editUrl = '/experiences/update/' + experienceId + '/';
    
    // Set the form action attribute to the edit URL
    $('#editForm').attr('action', editUrl);
    
    // Fetch the data for the specific experience and populate the form fields
    $.ajax({
        url: '/experiences/' + experienceId + '/',
        method: 'GET',
        success: function(data) {
            // Populate the form fields inside the editForm with the experience data
            $('#editForm #id_company').val(data.company);
            $('#editForm #id_title').val(data.title);
            $('#editForm #id_location').val(data.location);
            $('#editForm #id_description').val(data.description);
            $('#editForm #id_from_date').val(data.from_date);
            $('#editForm #id_to_date').val(data.to_date);
            if (data.current) {
                $('#editForm #id_current').prop('checked', true);
            } else {
                $('#editForm #id_current').prop('checked', false);
            }
            
            // Show the modal
            $('#editModal').modal('show');
        },
        error: function(error) {
            console.error('Error fetching experience data:', error);
        }
    });
});

$('#saveChangesButton').click(function(event) {
    event.preventDefault(); // Prevent the default form submission behavior
    
    // Get the form data
    const formData = $('#editForm').serialize();
    
    // Get the form action URL
    const actionUrl = $('#editForm').attr('action');
   
    // Submit the form data via AJAX
    $.ajax({
        url: actionUrl,
        method: 'POST',
        data: formData,
        success: function(response) {
            // Handle the success response, if needed
            console.log('Form submitted successfully');
            $('#editModal').modal('hide');
            location.reload();
        },
        error: function(error) {
            // Handle the error response, if needed
            console.error('Error submitting form:', error);
        }
    });
});

</script>
{% endblock extrascripts %}