{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load allauth account %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
    {% if not SOCIALACCOUNT_ONLY %}
        {% setvar link %}
            <a href="{{ signup_url }}">
            {% endsetvar %}
            {% setvar end_link %}
            </a>
        {% endsetvar %}

        {% url 'account_login' as login_url %}
        <div class="container text-white" style="margin-top: 150px;"> 
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                    <form method="post" action="{{ login_url }}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        {{ redirect_field }}
                        <button type="submit" class="btn btn-primary">{% trans "Login" %}</button>
                    </form>
                </div>
            </div>
            <br>
            <p style="text-align: center;">
                {% blocktranslate %}If you have not created an account yet, then please {{ link }}sign up{{ end_link }} first.{% endblocktranslate %}
            </p>
        </div>
    {% endif %}
    {% if LOGIN_BY_CODE_ENABLED %}
        {% element hr %}
        {% endelement %}
        {% element h2 %}
            {% element button href=request_login_code_url tags="prominent,login,secondary" %}
                {% trans "Mail me a sign-in code" %}
            {% endelement %}
        {% endelement %}
    {% endif %}
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
{% endblock content %}
