{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block BG %}<div class="background-container">
    <div class="background-overlay"></div>
    <div class="background-image"></div>{% endblock BG %}
{% block content %}
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p style="text-align: center; color: red; margin-top: 50px; font-size: larger;">
            {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
        </p>
    {% else %}
    <div class="container text-white" style="margin-top: 50px;"> 
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                <form method="post" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {{ redirect_field }}
                    <button type="submit" class="btn btn-primary">{% trans "Change Password" %}</button>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock content %}
