{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block BG %}<div class="background-container">
    <div class="background-overlay"></div>
    <div class="background-image"></div>{% endblock BG %}
{% block content %}
<p style="text-align: center; color: lightgreen; margin-top: 50px; font-size: larger;">{% trans 'Your password is now changed.' %}</p>
{% endblock content %}
