{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block head_title %}
  Profile
{% endblock head_title %}

{% block BG %}
  <div class="background-container">
  </div>
{% endblock BG %}

{% block content %}
<div class="container">
  <div class="container" style="padding-left: 60px;">
    <h2>Manage Your Profile</h2>

    <div class="row">
      <div class="col-md-4">
        <a href="{% url 'profile' %}" class="btn btn-primary mb-3">Edit Profile</a>
      </div>
      <div class="col-md-4">
        <a href="{% url 'add_experience' %}" class="btn btn-success mb-3">Add Experience</a>
      </div>
      <div class="col-md-4">
        <a href="{% url 'add_education' %}" class="btn btn-info mb-3">Add Education</a>
      </div>
    </div>

    {% if form %}
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn btn-primary">Save Changes</button>
      </form>
    {% endif %}
  </div>
</div>
    {% if profile %}
    <ul>
        <li>Username: {{ profile.user.username }}</li>  </ul>
    {% endif %}
{% endblock content %}

{% block extrascripts %}

{% endblock extrascripts %}
