{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block head_title %}
  Profile
{% endblock head_title %}

{% block BG %}
  <div class="background-container" style="background-color: rgb(245, 245, 245);">
  </div>
{% endblock BG %}

{% block content %}
<div class="container mt-5"  style="padding-left: 60px;">
  <div class="row align-items-center">
    <div class="col-md-8 Profile-button d-flex">
        <a href="{% url 'profile' %}" class="btn btn-secondary me-2 btn-sm" id="profile-btn">
            <i class="fas fa-user-edit"></i> Edit Profile
        </a>
        <a href="{% url 'add_education' %}" class="btn btn-secondary me-2 btn-sm" id="education-btn">
            <i class="fas fa-graduation-cap"></i> Add Education
        </a>
        <a href="{% url 'add_experience' %}" class="btn btn-secondary me-2 btn-sm" id="experience-btn">
            <i class="fas fa-briefcase"></i> Add Experience
        </a>
    </div>
  </div>

    <!-- The profile form -->
    <div class="row mt-4" style="color: grey;">
        <div class="col-md-12">   
            
            <div class="section-divider mb-2 px-2 ">
            <p> Person Information</p>
            </div>
        <small class="form-text text-muted">* Fields are required.</small>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="id_username" class="form-label">Username:*</label>
                    <input type="text" name="username" class="form-control" id="id_username" value="{{ user.username }}" readonly>
                    {% if form.errors.username %}
                        <div class="invalid-feedback">{{ form.errors.username }}</div>
                    {% endif %}
                </div>
                <div class="col-md-6 mb-3">
                    <div class="d-flex align-items-center">
                        <div class="rounded-circle overflow-hidden me-3" style="width: 80px; height: 80px;">
                            <img id="preview" src="{{ user.profile.image.url }}" alt="Profile Image" style="width: 100%; height: 100%; object-fit: cover;">
                        </div>
                        <label for="id_image" class="btn btn-primary">Profile Picture</label>
                        <input type="file" name="image" class="form-control visually-hidden" id="id_image" onchange="previewImage(event)">
                        {% for error in form.image.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="id_email" class="form-label">Email:*</label>
                    <input type="text" name="email" class="form-control" id="id_email" value="{{ user.email }}" readonly>
                    {% for error in form.email.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                    </div>
                <div class="col-md-6 mb-3">
                    <label for="id_first_name" class="form-label">First Name:</label>
                    <input type="text" name="first_name" class="form-control" id="id_first_name" value="{{ user.first_name }}">
                    {% for error in form.first_name.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="col-md-6 mb-3">
                    <label for="id_last_name" class="form-label">Last Name:</label>
                    <input type="text" name="last_name" class="form-control" id="id_last_name" value="{{ user.last_name }}">
                    {% for error in form.last_name.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="col-md-6 mb-3">
                    <label for="id_location" class="form-label">Location:</label>
                    <input type="text" name="location" class="form-control" id="id_location" value="{{ form.location.value }}">
                    {% for error in form.location.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>

            <div class="section-divider mt-4 mb-4 px-2 ">
                <p> Profile Information</p>
            </div>

            <div class="row">
            <div class="col-md-6 mb-3">
                <label for="id_occupation" class="form-label">Occupation:*</label>
                <select name="occupation" id="id_occupation" class="form-select">
                    {% for choice in form.occupation.field.choices %}
                    <option value="{{ choice.0 }}" {% if choice.0 == form.occupation.value %}selected{% endif %}>{{ choice.1 }}</option>
                    {% endfor %}
                </select>
                {% for error in form.occupation.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="col-md-6 mb-3">
                <label for="id_company" class="form-label">Company:</label>
                <input type="text" name="company" class="form-control" id="id_company" value="{{ form.company.value }}">
                {% for error in form.company.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="col-md-6 mb-3">
                <label for="id_website" class="form-label">Website:</label>
                <input type="url" name="website" class="form-control" id="id_website" value="{{ form.website.value }}">
                {% for error in form.website.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="col-md-6 mb-3">
                <label for="id_githubusername" class="form-label">GitHub Username:</label>
                <input type="text" name="githubusername" class="form-control" id="id_githubusername" value="{{ form.githubusername.value }}">
                {% for error in form.githubusername.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>
            </div>
            <div class="section-divider mt-4 px-2 ">
                <p> Skills</p>
            </div>

            <div class="mb-3 border">
                <label for="id_skills" class="form-label me-2">Skills:*</label>
                <span class="text-muted small">Choose one or more skills</span>
                <div class="row">
                    {% for skill in form.skills.field.choices %}
                        <div class="col-sm-3" style="color: green;">
                            <label class="form-check">
                                <input type="checkbox" name="skills" value="{{ skill.0 }}" {% if skill.0 in form.initial.skills %}checked{% endif %} class="form-check-input me-2">
                                {{ skill.1 }}
                            </label>
                        </div>
                        {% if forloop.counter|divisibleby:10 or forloop.last %}
                            </div>{% if not forloop.last %}<div class="row">{% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                {% for error in form.skills.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>
            

            <div class="mb-3">
                <label for="id_bio" class="form-label">Bio:</label>
                <textarea name="bio" class="form-control" id="id_bio">{{ form.bio.value }}</textarea>
            </div>
            {% for error in form.bio.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
            <div class="row">
                <div class="col-md-6 mb-3">
                <button type="submit" class="btn btn-primary">Update Profile</button>
            </div>
        </div>
        </form>
        </div>
</div>
{% endblock content %}

{% block extrascripts %}
<script>
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('preview');
            output.src = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
    }

        document.addEventListener('DOMContentLoaded', function() {
        // Get the current URL path
        var currentPath = window.location.pathname;

        // Get all the buttons
        var buttons = document.querySelectorAll('.btn-secondary');

        // Loop through each button
        buttons.forEach(function(button) {
            // Check if the button's href matches the current URL path
            if (button.getAttribute('href') === currentPath) {
                // Add active class to the button
                button.classList.add('active');
            }

            // Add click event listener to each button
            button.addEventListener('click', function(event) {
                // Prevent the default behavior of the anchor tag
                event.preventDefault();

                // Remove active class from all buttons
                buttons.forEach(function(btn) {
                    btn.classList.remove('active');
                });

                // Add active class to the clicked button
                button.classList.add('active');

                // Redirect to the button's href
                window.location.href = button.getAttribute('href');
            });
        });
    });


</script>

{% endblock extrascripts %}
