{% extends "base.html" %}
{% load allauth i18n %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Sign Up" %}
    {% endelement %}
    {% setvar link %}
        <a href="{{ login_url }}">
        {% endsetvar %}
        {% setvar end_link %}
        </a>
    {% endsetvar %}
    {% if not SOCIALACCOUNT_ONLY %}
        {% url 'account_signup' as action_url %}
        <div class="container text-white" style="margin-top: 50px;"> 
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                    <form method="post" action="{{ action_url }}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        {{ redirect_field }}
                        <button type="submit" class="btn btn-primary btn-block">{% trans "Sign Up" %}</button>
                    </form>
                </div>
            </div>
            <br>
            <p style="text-align: center;">
                {% blocktranslate %}Already have an account? Then please {{ link }}Login{{ end_link }}.{% endblocktranslate %}
            </p>
        </div>
    {% endif %}
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
{% endblock content %}
