{% extends "base.html" %}
{% load allauth i18n %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load allauth %}
{% block head_title %}
    {% trans "Verify Your Email Address" %}
{% endblock head_title %}
{% block BG %}<div class="background-container">
    <div class="background-overlay"></div>
    <div class="background-image"></div>{% endblock BG %}
{% block content %}
<div class="container text-white" style="margin-top: 50px;"> 
    <div class="row justify-content-center">
        <div class="col-lg-9 mx-auto">
            
                {% blocktrans %}
               <p style="text-align: center; color: green; font-size: larger; margin: 0%;">Verification email sent!</p>
               <p style="text-align: center; color: white;">Please check your email to Verify your account.</p>
               {% endblocktrans %}

        </div>
    </div>
</div>
{% endblock content %}
