{% extends "base.html" %}
{% load allauth i18n %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load allauth %}
{% block head_title %}
    {% trans "Verify Your Email Address" %}
{% endblock head_title %}
{% block BG %}<div class="background-container">
    <div class="background-overlay"></div>
    <div class="background-image"></div>{% endblock BG %}
{% block content %}
<div class="container text-white" style="margin-top: 50px;"> 
    <div class="row justify-content-center">
        <div class="col-lg-9 mx-auto">
            <p style="text-align: center; color: white; font-size: larger;">
                {% blocktrans %}We have sent an email to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification email in your main inbox, check your spam folder. Please contact us if you do not receive the verification email within a few minutes.{% endblocktrans %}
            </p>
        </div>
    </div>
</div>
{% endblock content %}
