<!-- chat_list.html -->
<div class="chat__modal_list" id="chatListModal" style="bottom: 0; height: 50px;">
  <div class="chat__modal-content" style="height: 100%;">
      <div class="chat__modal-header" onclick="toggleChatListModal()">
        <img src="{{ request.user.profile.image.url }}" alt="Profile Picture" class="profile-pic me-2" style="width: 40px; border-radius: 50%;">
        <p style="margin: 0;">Messaging</p>
      </div>
      <hr style="margin: 0;">
      <div class="chat__modal-body" id="chatListModalBody" style="display: none;">
          <ul>
              {% for room in user_chat_rooms %}
              <li><a href="{% url 'chat_page' username=room.other_user.username %}">{{ room.other_user.username }}</a></li>
              {% endfor %}
          </ul>
      </div>
  </div>
</div>

<script>
  function toggleChatListModal() {
      var modal = document.getElementById('chatListModal');
      var modalBody = document.getElementById('chatListModalBody');
      if (modalBody.style.display === 'none') {
          modal.style.height = '300px';  // Expand height when shown
          modalBody.style.display = 'block';
      } else {
          modal.style.height = '50px';   // Collapse height when hidden
          modalBody.style.display = 'none';
      }
  }
</script>
