<!-- chatPage.html -->

<div class="chat__modal" id="chatModal">
  <div class="chat__modal-content">
    <div class="chat__modal-header">
      <span class="close">&times;</span>
      <h2>Messages</h2>
    </div>
    <div class="chat__modal-body" style="height: 50vh;">
      <div class="chat__item__container" id="id_chat_item_container">
        <!-- Display previous chat messages -->
        {% for message in chat_messages %}
          <div>{{ message.sender.username }}: {{ message.message }}</div>
        {% endfor %}
      </div>
      <div class="chat__input-container">
        <form method="post">
          {% csrf_token %}
          <input type="text" name="message" id="id_message_send_input" />
          <button type="submit" id="id_message_send_button"><i class="far fa-paper-plane"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>


    
    <script>
      const chatSocket = new WebSocket("ws://" + window.location.host + "/");
      chatSocket.onopen = function (e) {
        console.log("The connection was setup successfully !");
      };
      chatSocket.onclose = function (e) {
        console.log("Something unexpected happened !");
      };
      document.querySelector("#id_message_send_input").focus();
      document.querySelector("#id_message_send_input").onkeyup = function (e) {
        if (e.keyCode == 13) {
          document.querySelector("#id_message_send_button").click();
        }
      };
      document.querySelector("#id_message_send_button").onclick = function (e) {
        var messageInput = document.querySelector(
          "#id_message_send_input"
        ).value;
        chatSocket.send(JSON.stringify({ message: messageInput, username : "{{request.user.username}}"}));
      };
      chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        var div = document.createElement("div");
        div.innerHTML = data.username + " : " + data.message;
        document.querySelector("#id_message_send_input").value = "";
        document.querySelector("#id_chat_item_container").appendChild(div);
      };

      document.querySelector(".close").onclick = function() {
        document.querySelector('.chat__modal').style.display = "none";
      }
    </script>

